.heading{
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}

.flex-container{
    display: flex;
    
}

.releasedMovies{
   width: 76%;
   margin: 16px;
}

.movieFilters{
    width: 24%;
    margin: 16px;
}