.heading{
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}

.upcomingMovies{
    /* overflow-x: scroll;
    overflow-y:hidden;
    display: flex; */
    height: 260px;
    width:100%;
    overflow: scroll;
}

.imageList{
    display:grid;
    overflow: scroll;
    column-count: 6;
}

.imageListItem{
    cursor: pointer;
}

.flex-container{
    display: flex;
    
}

.releasedMovies{
   width: 76%;
   margin: 16px;
}

.movieFilters{
    width: 24%;
    margin: 16px;
}